# Ignore all hidden files/folders by default
.*

# Un-ignore the specific folders you need
!Desktop/
!Documents/
!Downloads/
!Music/
!Pictures/
!Public/
!Templates/
!Videos/
!python/
!uhubctl/
!.gitignore
